<html>
  <head>
<style type="text/css" media="screen">
.Aclass
{
font-color:blue;
}
</style>
</head>
<body>
<Center><h1><i>Library Management System</i><h1></Center>
<Center><img src="assets/books.jpg" alt="books" height="225" width="250" /></Center>
<br><br>
<Center><font Style="color:blue;font-size:13px"><img src="assets/book_icon_small.gif" alt="books" height="20" width="25" />&nbsp<%= link_to 'Books', issuedfree_books_path ,:class => 'Aclass'%></font></Center><br>
<Center><font Style="color:blue;font-size:13px"><img src="assets/ExtendScriptToolkit.png" alt="books" height="25" width="30" />&nbsp<%= link_to 'Books by Subject', list_subjects_path ,:class => 'Aclass'%></font></Center>
</body>

